[submodule "3rdparty/polypartition"]
	path = src/3rdparty/polypartition
	url = https://github.com/ivanfratric/polypartition.git
[submodule "3rdparty/rectpack2D"]
	path = src/3rdparty/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
[submodule "3rdparty/openal-soft"]
	path = src/3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "3rdparty/lodepng"]
	path = src/3rdparty/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "3rdparty/Catch"]
	path = src/3rdparty/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "cmake/Introspector-generator"]
	path = cmake/Introspector-generator
	url = https://github.com/TeamHypersomnia/Introspector-generator.git
[submodule "src/3rdparty/imgui"]
	path = src/3rdparty/imgui
	url = https://github.com/TeamHypersomnia/imgui
[submodule "src/3rdparty/yojimbo"]
	path = src/3rdparty/yojimbo
	url = https://github.com/TeamHypersomnia/yojimbo.git
[submodule "src/3rdparty/rapidjson"]
	path = src/3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "src/3rdparty/libdatachannel"]
	path = src/3rdparty/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "src/3rdparty/datachannel-wasm"]
	path = src/3rdparty/datachannel-wasm
	url = https://github.com/paullouisageneau/datachannel-wasm.git
