[submodule "3rdparty/cereal"]
	path = 3rdparty/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "3rdparty/polypartition"]
	path = 3rdparty/polypartition
	url = https://github.com/TeamHypersomnia/polypartition.git
[submodule "3rdparty/lua"]
	path = 3rdparty/lua
	url = https://github.com/lua/lua.git
[submodule "3rdparty/luabind-deboostified"]
	path = 3rdparty/luabind-deboostified
	url = https://github.com/decimad/luabind-deboostified.git
