return {
	default_server_start = {
		port = HYPERSOMNIA_PORT 
	},
	server = {
		server_name = HYPERSOMNIA_SERVER_NAME,
		allow_nat_traversal = false
	},
	http_client = {
		update_on_launch = false
	},
	unit_tests = {
		run = false
	},

	private_server = {
		rcon_password = HYPERSOMNIA_RCON_PASSWORD 
	}
}
